#body{
    background-color:rgb(232, 233, 231);
}
#name{
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 1.5em;
    font-family: 'Nova flat', cursive;
}
.welcome{
    position:relative;
    top: 100px;
    text-align: center;
    font-size: 500%;
    font-family: 'Syne', sans-serif;
    margin-top: -30px;
}
.photo{
    width: auto;
    text-align: center;
}
#dnd{
    font-family: 'Antic Slab', serif;
    font-size: 1em;
    position: relative;
    top: -300px;
    text-align: center;
}
.dd1{
    color: black;
    padding-right: 75%;
}
.dd2{
    padding-left: 65%;
}
#about{
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 300px 20% 100px 20%;
    line-height: 50px;
}
#foot{
    line-height: 50px;
    background-color: rgb(46, 41, 41);
    color: beige;
    width:100.5%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Rubik', sans-serif;
}
#menu{
    position: fixed;
    top: 8px;
    left: 10px;
}
#programming{
    margin: 0px 0px 100px 0px;
}
#webdev{
    margin: 0px 0px 70px 0px;
}
#images{
    font-family: 'Nova flat', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 100px 0px;
}
#contacts{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 2em;
    line-height: 80px;
}
a{
    color: black;
}
a:hover{
    font-weight: bolder;
}
