#body{
    background-color:rgb(232, 233, 231);
}
#name{
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 25px;
    font-family: 'Nova flat', cursive;
}
.welcome{
    position:relative;
    top: 150px;
    text-align: center;
    font-size: 120px;
    font-family: 'Syne', sans-serif;
    margin: -50px 0px 0px 0px;
}
.photo{
    width: auto;
    text-align: center;
}
#dnd{
    font-family: 'Antic Slab', serif;
    font-size: 16px;
    position: relative;
    top: -300px;
    text-align: center;
}
.dd1{
    color: black;
    padding: 0px 400px 0px 0px;
}
.dd2{
    padding: 0px 0px 0px 400px;
}
#about{
    font-family: 'Play', sans-serif;
    font-size: 30px;
    margin: 300px 250px 100px 250px;
    line-height: 50px;
}
#foot{
    line-height: 50px;
    background-color: rgb(46, 41, 41);
    color: beige;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Rubik', sans-serif;
}
#navigation{
    background-color: rgb(205, 206, 205);
    position: fixed;
    top: 0px;
    width: 101%;
    margin: 0px -15px 0px -15px;
    box-shadow: -2px 2px 2px;
}
#menu{
    position: fixed;
    top: 8px;
    left: 10px;
}
#programming{
    margin: 0px 0px 100px 0px;
}
#webdev{
    margin: 0px 0px 70px 0px;
}
#images{
    text-align: center;
    margin: 0px 0px 100px 0px;
}
#contacts{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    line-height: 80px;
}